<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">

</head>
<body>
	<header th:replace="layouts/layout :: header "></header>
	<main class="my-4">
		<div class="row d-flex justify-content-center my-3 mx-0">
			<div class="col-md-10">
				<div class="card bg-light">
					<div class="titulo-tabla  card-header  justify-content-between">
						<div class="d-flex align-items-baseline">
							<h3 th:text="${titulo}" class="text-center d-inline-block me-4"></h3>
							<a th:href="@{/alumno/form}" class="btn btn-outline-secondary fw-bold"> <i
								class="bi bi-plus-circle"></i> Nuevo
							</a>
						</div>
						<div>
							<a th:href="@{'/listar'(format=json)}"
								class="btn btn-outline-warning btn-xs me-2">JSON</a> <a
								th:href="@{'/listar'(format=xml)}"
								class="btn btn-outline-success btn-xs me-2">XML</a> <a
								th:href="@{'/listar'(format=csv)}"
								class="btn btn-success btn-xs me-2">CSV</a>
						</div>
					</div>
					<div class="card-body" id="tabla">
						<table
							class="tabla-datos table table-ligth table-striped-columns text-center">
							<thead>
								<tr>
									<th>ID</th>
									<th th:text="#{text.nombre}">Nombre</th>
									<th th:text="#{text.apellido}">Apellidio</th>
									<th th:text="#{text.email}">Email</th>
									<th th:text="#{text.dui}">dui</th>
									<th th:text="#{text.fecha_nacimiento}">fecha nacimiento</th>
									<th th:text="#{text.fecha_ingreso}">fecha ingreso</th>

								</tr>
							</thead>
							<tbody>
								<tr th:each="alumno: ${alumnos}">
									<td th:data-cell="ID"><a th:text="${alumno.id}"
										class="btn btn-primary btn-xs"></a></td>
									<td th:data-cell="#{text.nombre}" th:text="${alumno.nombre}"></td>
									<td th:data-cell="#{text.apellido}" th:text="${alumno.apellido}"></td>
									<td th:data-cell="#{text.email}" th:text="${alumno.email}"></td>
									<td th:data-cell="#{text.dui}" th:text="${alumno.DUI}"></td>
									<td th:data-cell="#{text.fecha_nacimiento}"
										th:text="${alumno.fechaNacimiento}"></td>
									<td th:data-cell="#{text.fecha_ingreso}" th:text="${alumno.fechaIngreso}"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- <nav th:replace="layouts/paginatorNav :: paginator"></nav> -->
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="layouts/layout :: footer"></footer>

</body>
</html>
